{% extends 'base.html' %}
{% block head %}
<title>Twitter Sentiment Analysis | About</title>
{% endblock %}
{% block body %}

    <!-- Three -->
    <section id="three" class="wrapper">
        <div class="inner">
            <h2 id="content">About</h2>
                <p>This was developed in the final project of the Data Analytics Bootcamp @ Ironhack Lisbon in December 2020.</p>
            <h4>Credits:</h4>
            <ul class="alt">
                <li>Credit 1</li>
                <li>Credit 2</li>
                <li>Credit 3</li>
            </ul>
            
                <!-- <form action="/" method="POST">
                    <input type="text" name="content" id="content">
                    <input type="submit" value="Add Task">
                </form> -->
            </div>
        </div>
    </section>   

{% endblock %}